.sidebar-nav {
    font-weight:bold;
    margin-top: 5px;
    padding: 0;
    list-style: none;
}
.jumbotronio {
  padding: 30px; /* fills out the jumbotron */
  background-color: lightgreen;
  padding-r
}